<!DOCTYPE html>
<html ng-app="exampleDialog">
<head>
    <meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="ngDialog.css">

	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="popupDialog.css">
    <link rel="stylesheet" type="text/css" href="ngDialog-theme-default.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body ng-controller="MainCtrl">

    <button ng-click="login()" ng-dialog-controller="LoginCtrl">Login</button>
    <button ng-click="register()">register</button>
    <button ng-click="newpopup()" ng-dialog-controller="NewpopupCtrl">New Popup</button>


</body>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="ngDialog.js"></script>
    <script type="text/javascript" src="ui-bootstrap-tpls-0.13.0.min.js"></script>



    <script type="text/ng-template" id="loginDialogId">
        <div class="login-dialog">

            <div class="login-title">
                <div class="login-title-tip" ng-click="register()">
                    <span>create an account</span>
                </div>
                <div class="login-title-heading">
                    <h2>LOGIN</h2>
                </div>
            </div>
            <br>
            <form id="loginForm" style="padding: 20px;">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Password">
                </div>
                <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Remember me
                        </label>
                       </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" style="background-color:red"> Login </button>
                </div>
                    &nbsp;&nbsp; &nbsp;------------------------------ OR ------------------------------
                <div style="margin:0 auto">
                    <button class="btn btn-primary btn-lg btn-block" style="margin-left:90px;Width:200px"> Login With Facebook </button>
                </div>
            </form>

        </div>
    </script>

    <script type="text/ng-template" id="registerDialogId">
        <div class="register-dialog">

            <div class="register-title">
                <span>JION MISSPOPUP</span>
            </div>

            <form id="registerForm" style="padding: 20px">
                <div style="float:left; width:48%;box-sizing: border-box; margin-left: 2% ">
                    <div class="form-group" >
                        <span>Username</span>
                        <input class="form-control" type="text" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <span>Password</span>
                        <input class="form-control" type="password" placeholder="Password">
                    </div>

                    <div class="form-group" >
                        <span>Password Confirm</span>
                        <input class="form-control" type="password" placeholder="Password again">
                    </div>

                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Remember me
                        </label>
                       </div>
                </div>
                    <div>
                    <a class="register-href" ng-click="login()">Already have an account?Click here to login</a>
                    </div>
                </div>

                <div style="float:left; width:48%;box-sizing: border-box; margin-left: 2% ">

                    <div class="form-group" >
                        <span>Fullname</span>
                        <input set-focus class="form-control" type="text" placeholder="confirmCode">
                    </div>
                    <div class="form-group" >
                        <span>Email</span>
                        <input class="form-control" type="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <span>Confirm Code</span>
                        <input set-focus class="form-control" type="text" placeholder="confirmCode">
                    </div>

                    <div class="form-group">
                       <a class="btn btn-primary btn-lg btn-block" href="http://www.baidu.com" style="background-color:red"> Register </a>
                    </div>
                </div>
            </form>

        </div>
    </script>


    <script type="text/ng-template" id="newpopupDialogId">

        <div class="newpopup-dialog">

            <div class="newpopup-title">
                <span>CREATE NEW POPUP</span>
            </div>

            <br>


            <form id="newpopupForm" style="padding: 20px">
                <div style="width: 60%;float: left; box-sizing: border-box">
                    <div>

                        <div class="form-group" style="width: 48%; margin-right: 2%; float: left; box-sizing: border-box">
                            <span>Event name </span>
                            <input class="form-control" type="text" placeholder="Hotpot">
                        </div>
                        <div class="form-group" style="width: 48%; margin-left: 2%; float: left; box-sizing: border-box">
                            <span>Address </span>
                            <input class="form-control" type="text" placeholder="Finnimaenkatu">
                        </div>
                    </div>

                    <div>
                        <div class="form-group" style="width: 20%;margin-right: 4%; float: left; box-sizing: border-box">
                            <span>Price </span>
                            <input class="form-control" type="text" placeholder="30€">
                        </div>

                        <div class="form-group" style="width: 24%; margin-right: 0%; float: left; box-sizing: border-box">
                            <span>City </span>
                            <input class="form-control" type="text" placeholder="Tampere">
                        </div>

                        <div class="form-group" style="width: 16%; margin-left: 4%; float: left; box-sizing: border-box">
                            <span>seats </span>
                            <input class="form-control" type="text" placeholder="Min">
                        </div>

                        <div class="form-group" style="width: 16%; margin-left: 8%; float: left; box-sizing: border-box">
                            <br>
                            <input class="form-control" type="text" placeholder="Max">
                        </div>
                    </div>

                    <div ng-controller="DatepickerDemoCtrl">
                        <div class="form-group" style="width: 32%; margin-right: 6%; float: left; box-sizing: border-box">
                            <span>Date </span>
                            <input class="form-control" type="text" placeholder="DD/MM/YYYY"
                                   is-open="opened"
                                   datepicker-popup="dd/MM/yyyy"
                                   ng-model="dt"
                                   datepicker-options="dateOptions"
                                   min-date="minDate"
                                   date-disabled="disabled(date, mode)"
                                   ng-required="true"
                                   show-weeks="true"
                                   close-text="Close"
                                    >
                        </div>

                        <div  class="form-group" style="width: 10%; margin-right: 2%; float: left; box-sizing: border-box">
                            <br>
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>

                        <div class="form-group" style="width: 32%; margin-left: 2%; float: left; box-sizing: border-box">
                            <span>Time </span>
                            <input class="form-control" type="text" placeholder="00:00">
                        </div>

                        <div class="form-group" style="width: 10%; margin-left: 6%; float: left; box-sizing: border-box">
                            <br>
                            <button type="button" class="btn btn-default" ng-click="">
                                <i class="glyphicon glyphicon-time"></i>
                            </button>

                        </div>
                    </div>

                    <div >
                        <div class="form-group" style="padding-top: 20px; width: 30%; margin-right: 3%; float: left; box-sizing: border-box">
                            <select class="form-control" style="background-color: red;color: white">
                                <option>Type</option>
                                <option>Breakfast</option>
                                <option>Lunch</option>
                                <option>Dinner</option>
                                <option>Snack</option>
                            </select>
                        </div>

                        <div class="form-group" style="padding-top: 20px; width: 30%; margin-right: 4%; float: left; box-sizing: border-box">
                            <select class="form-control" style="background-color: red; color: white">
                                <option>Style</option>
                                <option>Chinese</option>
                                <option>Finnish</option>
                                <option>Japanese</option>
                                <option>Italian</option>
                            </select>

                        </div>

                        <div class="form-group"
                             style="padding-top:8px; padding-bottom: 4px; border-radius: 5px; margin-top: 20px; position: relative; background-color:red; width: 33%; float: left; box-sizing: border-box">
                            <span style="color: white;">Select Picture
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-camera"></i>
                            </span>
                            <input style="
                            top: 0;
                            left: 0;
                            cursor:pointer;
                            position: absolute;
                            filter:alpha(opacity=0);
                            background-color: red;
                            color: white;
                            opacity: 0;
                            font-size: 99999px;
                            height: 40px;"
                            class="form-control" type="file" placeholder="Name">
                        </div>
                    </div>

                </div>


                <div style="width: 36%; margin-left: 4%; float: left; box-sizing: border-box">
                    <textarea class="form-control" rows="10"></textarea>

                    <div class="form-group" style="margin:0 auto; margin-top: 20px">
                        <button class="btn btn-default" style="color:white; margin-left: calc(100% - 150px); width:150px;background-color: red"> Launch Popup</button>
                    </div>
                </div>


            </form>
        </div>


    </script>


    <script>

    var app = angular.module('exampleDialog', ['ngDialog','ui.bootstrap']);

        // Example of how to set default values for all dialogs


        // app.config(['ngDialogProvider', function (ngDialogProvider) {
        //     ngDialogProvider.setDefaults({
        //         className: 'ngdialog-theme-default',
        //         plain: false,
        //         showClose: true,
        //         closeByDocument: true,
        //         closeByEscape: true,
        //         appendTo: false,
        //         preCloseCallback: function () {
        //             console.log('default pre-close callback');
        //         }
        //     });
        // }]);

        
         app.controller('MainCtrl', function ($scope, $rootScope, ngDialog, $timeout) {
             $scope.open = function($event) {
                 $event.preventDefault();
                 $event.stopPropagation();

                 $scope.opened = true;
             };
            $scope.login = function () {
                ngDialog.open({
                    template: 'loginDialogId',
                    controller: 'LoginCtrl',
                    className: 'ngdialog-theme-default'
                });
            }; 
            $scope.register = function () {
                ngDialog.open({
                    template: 'registerDialogId',
                    controller: 'RegisterCtrl',
                    className: 'ngdialog-theme-default'
                });
            };    

            $scope.newpopup = function () {
                ngDialog.open({
                    template: 'newpopupDialogId',
                    className: 'ngdialog-theme-default'
                });
            };    
        });

         app.controller('LoginCtrl', function ($scope, ngDialog) {
      
            $scope.register = function () {
                ngDialog.open({
                    template: 'registerDialogId',
                    className: 'ngdialog-theme-default'
                });
            };
        });
        
        app.controller('RegisterCtrl', function ($scope, ngDialog) {
      
            $scope.login = function () {
                ngDialog.open({
                    template: 'loginDialogId',
                    className: 'ngdialog-theme-default'
                });
            };
        });


    app.controller('DatepickerDemoCtrl', function ($scope) {
        $scope.today = function() {
            $scope.dt = new Date();
        };
        $scope.today();

        $scope.clear = function () {
            $scope.dt = null;
        };

        // Disable weekend selection
        $scope.disabled = function(date, mode) {
            return ( mode === 'day' && ( date.getDay() === 0 || date.getDay() === 6 ) );
        };

        $scope.toggleMin = function() {
            $scope.minDate = $scope.minDate ? null : new Date();
        };
        $scope.toggleMin();

        $scope.open = function($event) {
            $event.preventDefault();
            $event.stopPropagation();

            $scope.opened = true;
        };

        $scope.dateOptions = {
            formatYear: 'yy',
            startingDay: 1
        };

        $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
        $scope.format = $scope.formats[0];

        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        var afterTomorrow = new Date();
        afterTomorrow.setDate(tomorrow.getDate() + 2);
        $scope.events =
                [
                    {
                        date: tomorrow,
                        status: 'full'
                    },
                    {
                        date: afterTomorrow,
                        status: 'partially'
                    }
                ];

        $scope.getDayClass = function(date, mode) {
            if (mode === 'day') {
                var dayToCheck = new Date(date).setHours(0,0,0,0);

                for (var i=0;i<$scope.events.length;i++){
                    var currentDay = new Date($scope.events[i].date).setHours(0,0,0,0);

                    if (dayToCheck === currentDay) {
                        return $scope.events[i].status;
                    }
                }
            }

            return '';
        };
    });

    	
    </script>
</html>
